.header{
    background: lightblue;
    height: 85px;
    display: flex;
    justify-content: space-between;
    padding: 0.2rem calc();
    z-index: 12;
  }

  .logOutbtn{
    background-color: black;
    border-radius: 8px;
    cursor: pointer;
    font-size: 14px;
    height: 40px;
    transform: translateY(20%);
    margin-right: 10px;
    border-radius: 10px;
    background: black;
    padding: 10px 30px;
    color: white;
    border: none;
    outline: none;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    text-decoration: none;
  }
    
  /* CSS */
  /* .button-1 {
    background-color: black;
    border-radius: 8px;
    cursor: pointer;
    font-size: 14px;
    height: 40px;
    transform: translateY(50%);
    margin-right: 10px;
  } */
  
  .button-words1,
  .button-words2{
    border-radius: 10px;
    padding: 10px 30px;
    font-size: 20px;
    color: white;
    border: none;
    outline: none;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    text-decoration: none;
  }
  .button-words1{
    background-color: green;
  }
  .button-words2{
    background-color: rgb(41, 255, 41);
  }
  /* .button-words3{
    background-color: rgb(255, 205, 112);
  }
  .button-words4{
    background-color: rgb(255, 102, 46);
  }
  .button-words5{
    background-color: red;
  } */
  
  .button-1:hover,
  .button-1:focus,
  .button-2:hover,
  .button-2:focus {
    background-color: #4b4848;
  }

  .diary-entry,
  .mood-entry{
    border: 3px solid;
    border-color: rgb(255, 116, 66);
    border-radius: 10%;
    padding: 30px 30px;
    cursor: pointer;
  }
  .diary-entry{
    border-color: green;
  }
  .mood-entry{
    border-color:rgb(41, 255, 41);
  }
  
  /* .submit{
    border-radius: 10px;
    padding: 10px 30px;
    font-size: 20px;
    color: black;
    border: none;
    outline: none;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    text-decoration: none;
    background-color: lightblue;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
  } */

  .logoName{
    text-align: center;
    text-decoration: underline;
  }

  .logoHeader{
  display: flex;
  text-align: center ;
}

.content{
  text-align: center;
  /* display: flex;
  justify-content: space-between; */
  padding: 25px;
  /* border-radius: 10px; */
  border: 3px solid;
  border-color: black;
  max-width: 90%;
  height: auto;
  
}

.content-q{
  text-align: center;
  text-decoration: underline;
}

.feelings{
  margin-left: auto;
  margin-right: auto;
}

.topnav {
  display: flex;
  text-align: center;
  padding: 15px;
}
.topnav a {
  color: black;
  padding: 14px 16px;
  font-size: 17px;
  margin-right: 10px;
}

/* .topnav a:hover {
  color: black;
} */

/* .topnav a.active {
  color: white;
} */

.userFeelings{
  width: 50%;
  margin: auto;
  display: block;
  text-align: center;
  padding: 12px 20px;
  border: 1px solid #ccc;
  box-sizing: border-box;
}